<h1 class="col-12 p-4 border-0 border-radius-xl my-3 text-secondary">
  Megjelenések
</h1>

<div class="row">
  <div *ngIf="successList$ | async as successList" class="col-12">
    <button
      class="btn btn-primary btn-lg mb-3 ms-3"
      [routerLink]="['/success-editor', 0]"
    >
      Új megjelenés
    </button>
    <app-data-table
      [listers]="successList"
      [columns]="columns"
      (onDelete)="onDelete($event)"
      (onEdit)="onEdit($event)"
    >
    </app-data-table>
  </div>
</div>
