@use "../../../assets/modules/colors" as *;

.main {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/img/6888d3bacd99fcaabab1d291c994f2f0.jpg");
  background-repeat: repeat-x;
  background-position: center;
}

.jumbotron {
  border-radius: 10px;
  background: linear-gradient($backgroundDarkgreen, $backgroundDarkYellow);
}
button {
  border: solid black 2px;
  background-color: $backgroundLightYellow;
  color: black;

  &:hover {
    box-shadow: 2px 2px 5px black;
    background-color: $backgroundAlmond;
  }
}
