@use "../../../assets/modules/colors" as *;

.myprofile {
  height: 80vh;
}

.dialog {
  background: linear-gradient($backgroundDarkgreen, $backgroundDarkYellow);
  border-radius: 5px;
}

h3 {
  font-weight: 700;
}

.header {
  background-color: $headerBackground;
  border-radius: 2px;
  box-shadow: 4px 4px 2px $boxshadowGrey;
}

th {
  background-color: burlywood;
}
