<footer class="bg-dark text-center text-white">
  <div class="pt-3">
    <section class="mb-3">
      <a
        class="btn btn-outline-light me-2"
        href="https://www.facebook.com/"
        target="_blank"
        role="button"
        ><i class="fa fa-facebook-f"></i
      ></a>
      <a
        class="btn btn-outline-light me-2"
        href="https://twitter.com/?lang=hu"
        target="_blank"
        role="button"
        ><i class="fa fa-twitter"></i
      ></a>
      <a
        class="btn btn-outline-light me-2"
        href="https://www.instagram.com/"
        target="_blank"
        role="button"
        ><i class="fa fa-instagram"></i
      ></a>
      <a
        class="btn btn-outline-light me-2"
        href="https://www.google.hu/"
        target="_blank"
        role="button"
        ><i class="fa fa-google"></i
      ></a>
    </section>
  </div>
  <div class="copyright text-center pb-3">
    © 2023 Copyright: TamogatoEbek.hu
  </div>
</footer>
