//navbar
$navbarGreen: green;
$navbarDarkGreen: darkgreen;
$navbarWhite: white;
$navbarBackground: #dfdbd1;

//forms + home page
$backgroundDarkgreen: rgb(59, 95, 69);
$backgroundDarkYellow: rgb(231, 189, 125);
$backgroundLightYellow: rgb(248, 217, 170);
$backgroundAlmond: blanchedalmond;
$backgroundWhite: rgb(234, 234, 234);
$boxshadowGrey: rgb(54, 51, 51);
$boxshadowYellow: rgb(241, 202, 117);

//aid-card
$buttonGreen: rgb(174, 235, 139);
$buttonGreenHover: rgb(132, 241, 69);
$aidCardProgressBlue: rgb(46, 110, 124);

$headerBackground: rgb(225, 240, 230);

//dog-card
$color-primary-grey: rgb(215, 214, 228);
$listHoverGrey: rgba(26, 11, 11, 0.4);
$backgroundGrey: rgb(26, 11, 11);

//success-page && success-card
$mint: rgba(231, 245, 235);
$backgroundDark: rgb(5, 29, 29);
$successBoxshadow: rgb(2, 37, 2);

//page-background
$backgroundLight: rgb(250, 249, 248);
